.popover-wrapper {
    position: absolute;
    inset: 0 auto auto 0;
    z-index: 99999;
    display: block;
    transform: scale(1);
    opacity: 1;
    animation: pop-over-open 100ms cubic-bezier(0.2, 0, 0.38, 0.9) 150ms both;
}

.popover-container {
    inline-size: 34rem;
    padding: 2.4rem;
    position: relative;
    background-color: oklch(100% 0 0deg);
    box-shadow: 0 0 0 1px oklch(86.72% 0.0192 282.72deg),
        0 2px 4px color-mix(in oklch, oklch(27.54% 0.1638 265.98deg) 8%, transparent),
        0 4px 12px color-mix(in oklch, oklch(27.54% 0.1638 265.98deg) 8%, transparent);
    border-radius: 0.8rem;
    color: var(--text-color);
}

.popover-right {
    margin-inline-start: 2rem;
}

.popover-left {
    margin-inline-end: 2rem;
}

.popover-bottom {
    margin-block-start: 2rem;
}

.popover-arrow {
    --arrow-size: 2rem;
    --arrow-size-half: calc(var(--arrow-size) / 2);
    --rotated-arrow-size-half: 1.2rem;
    --arrow-translate-x: calc(var(--rotated-arrow-size-half) * -1);
    --arrow-translate-y: calc(var(--rotated-arrow-size-half) * -1);
    position: absolute;

    &::before {
        content: '';
        box-sizing: border-box;
        display: block;
        block-size: 2.26rem;
        inline-size: 2.26rem;
        background-color: oklch(100% 0 0deg);
        border: 1px solid oklch(86.72% 0.0192 282.72deg);
        box-shadow: 0 2px 4px color-mix(in oklch, oklch(27.54% 0.1638 265.98deg) 8%, transparent),
            0 4px 12px color-mix(in oklch, oklch(27.54% 0.1638 265.98deg) 8%, transparent);
        position: absolute;
    }

    &::after {
        content: '';
        display: block;
        background-color: oklch(100% 0 0deg);
        position: absolute;
        block-size: var(--arrow-size);
        inline-size: var(--arrow-size);
    }
}

.popover-arrow-right {
    inset-inline-start: 0;
    top: 50%;

    &::before {
        transform: translateX(var(--arrow-translate-x)) translateY(var(--arrow-translate-y)) scaleY(0.5) rotate(-45deg);
    }

    &::after {
        transform: translateY(calc(var(--arrow-size-half) * -1));
    }
}

.popover-arrow-left {
    --mask-translate-x: calc(var(--arrow-size) * -1);
    inset-inline-end: 0;
    top: 50%;

    &::before {
        transform: translateX(var(--arrow-translate-x)) translateY(var(--arrow-translate-y)) scaleY(0.5) rotate(-45deg);
    }

    &::after {
        transform: translateX(var(--mask-translate-x)) translateY(calc(var(--arrow-size-half) * -1));
    }
}

.popover-arrow-bottom {
    --mask-translate-x: calc(var(--arrow-size-half) * -1);
    inset-block-start: 0;
    inset-inline-start: 50%;

    &::before {
        transform: translateX(var(--arrow-translate-x)) translateY(var(--arrow-translate-y)) scaleX(0.5) rotate(-45deg);
    }

    &::after {
        transform: translateX(var(--mask-translate-x));
    }
}

@keyframes pop-over-open {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
