@import 'normalize.css';

:root {
    --font-family: 'TikTokFont', san-serif;

    --text-color: #2a2b3f;
    --white-color: #fff;
    --black-color: #16161d;

    --btn-focus-color: #6d28d2;
    --btn-focus-background-color: color-mix(in oklch, oklch(48.41% 0.2342 293.93deg) 12%, transparent);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 1rem = 10px
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

// Fonts embeded
@font-face {
    font-family: TikTokFont;
    src: url('/src/assets/fonts/TikTokFont-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: TikTokFont;
    src: url('/src/assets/fonts/TikTokFont-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: TikTokFont;
    src: url('/src/assets/fonts/TikTokFont-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: TikTokDisplayFont;
    src: url('/src/assets/fonts/TikTokDisplayFont-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: TikTokDisplayFont;
    src: url('/src/assets/fonts/TikTokDisplayFont-Bold.woff2');
    font-weight: 700;
}
