@import 'normalize.css';

:root {
    --font-family: 'TikTokFont', san-serif;

    --text-color: #2a2b3f;
    --heading-color: #595c73;
    --border-color: #d1d2e0;

    --white-color: #fff;
    --black-color: #16161d;
    --purple-color: #6d28d2;
    --light-purple-color: #d2caff;
    --gray-color: #9194ac;

    --btn-focus-color: #6d28d2;
    --btn-focus-background-color: color-mix(in oklch, oklch(48.41% 0.2342 293.93deg) 12%, transparent);
    --primary-btn-focus-background-color: #892de1;
    --btn-focus-light-background-color: #e9eaf2;

    --btn-border-radius: 0.4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 1rem = 10px
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--text-color);
    text-rendering: optimizeSpeed;
}

// Fonts embeded
@font-face {
    font-family: TikTokFont;
    src: url('/src/assets/fonts/TikTokFont-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: TikTokFont;
    src: url('/src/assets/fonts/TikTokFont-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: TikTokFont;
    src: url('/src/assets/fonts/TikTokFont-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: TikTokDisplayFont;
    src: url('/src/assets/fonts/TikTokDisplayFont-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: TikTokDisplayFont;
    src: url('/src/assets/fonts/TikTokDisplayFont-Bold.woff2');
    font-weight: 700;
}
