.content {
    display: flex;
}

.menu-container {
    padding-block-end: 0.8rem;
    inline-size: 26rem;
    min-block-size: 64rem;

    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6;
}

.not-first-menu-level {
    border-inline-start: 1px solid var(--border-color);
}

.nav-heading {
    display: flex;
    justify-content: space-between;
    padding-block: 1.6rem 0;
    padding-inline: 1.6rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    color: var(--heading-color);
}

.nav-list {
    list-style: none;
    padding-block: 0.8rem;
    padding-inline: 0;
}

.nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-block-size: 2.24rem;
    text-decoration: none;
    padding-block: 0.8rem;
    padding-inline: 1.6rem;
    margin-inline: 0;
    border-radius: 0;
    color: var(--text-color);

    &:hover {
        color: var(--btn-focus-color);
        background-color: var(--btn-focus-background-color);
    }
}

.icon-container {
    min-block-size: 2.24rem;
    display: flex;
    align-self: flex-start;
    margin-inline-start: 0.8rem;
}

.link-icon {
    font-size: 0.8rem;
    align-self: center;
}

.active-link {
    color: var(--btn-focus-color);
}
